.grid{
	  height: 1200px;
	  width: 600px;
	  display: grid; 
	  grid-template: 240px 240px 240px 240px 240px /50% 50%;
	  border: 4px black solid; 
	  
  }
  
  .box{
	  border: 4px black solid;
  }
  .a {
	  grid-column: 1/3;
  }

img {
	width: 200px ;
	height: 200px 
	
}
#page1 {
	background: red;
	
}
#page2 {
	background: red;
	
}
td {
	padding: 20px;
}